<div class="container">
  <div class="row">
    <div class="col-md-7">
      <h1>Now playing </h1>
    </div>
    <div class="col-md-5">
      <div class="row">
        <div class="input-group" style="width: 50%; align-self: center">
          <input type="text" class="form-control" placeholder="Find Movie" name="search" matInput
                 [matAutocomplete]="auto"
                 [matAutocompleteConnectedTo]="origin" [(ngModel)]="searchText" [formControl]="myControl">
          <div class="custom-wrapper-example" matAutocompleteOrigin #origin="matAutocompleteOrigin"
               style="margin-top: 30px">
            <mat-autocomplete #auto="matAutocomplete" style="margin-top: 20px">
              <mat-option *ngFor="let option of filteredOptions | async" [value]="option.title"
                          style="display: block; overflow: hidden ">{{option.title}}
              </mat-option>
            </mat-autocomplete>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

<hr>
<div class="row">
  <div class="col-md-2">
  </div>
  <div class="col-md-8">
  </div>
  <div class="col-md-2"></div>
  <div class="row" *ngFor="let film of films | filmFilter:searchText | paginate: {itemsPerPage: 5, currentPage: p}"
       style="margin-top: 10px">
    <div class="col-md-2"></div>
    <div class="col-md-4">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="{{film.poster_path}}" alt="Card image cap">
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">{{film.title}}</h3>
          <p class="card-text">Rating: {{film.vote_average}}</p>
          <a [routerLink]="['/film', film.film_id]" href="#" class="btn btn-primary" style="margin-top: 50px">More
            Details</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8" style="display: grid">
      <hr>
      <pagination-controls style="justify-self: center" (pageChange)="p = $event"></pagination-controls>
    </div>
  </div>
</div>

