<div class="container">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <div class="row">
        <div class="col-xs-5">
          <h1>{{film.title}}</h1>
        </div>
        <div class="col-xs-3" style="display: grid">
          <img src="https://techflourish.com/images/google-clip-art-images-11.jpg" alt="">
          <p style="font-size: 35px;margin-left: 35px">{{film.vote_average}}</p>
        </div>
        <div class="col-xs-4">
          <h4>Your rating: </h4>
          <ngb-rating [(rate)]="currentRate" style="color: yellow" (rateChange)="onRateChange()"
                      *ngIf="authService.isAuthenticated()">
          </ngb-rating>
          <hr style="width: 100%">
        </div>
      </div>
    </div>
    <div class="col-md-2"></div>
  </div>
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-6">
      <div class="row">
        <div class="col-xs-6">
          <img src="{{film.poster_path}}" alt="" id="poster" class="img-responsive" alt="Responsive image">
        </div>
        <div class="col-xs-6">
          <h3>Overview:</h3>
          <p>{{film.overview}}</p>
          <br>
          <button class="btn btn-primary" *ngIf="authService.isAuthenticated()" (click)="onAddWatchlist()">Add to
            watchlist
          </button>
        </div>
      </div>
    </div>
    <div class="col-md-2">
    </div>
    <div class="col-md-2"></div>
  </div>
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-7" style="display: grid; margin-top: 50px; margin-left: 10px">
      <iframe *ngIf="film.trailer" width="100%" height="315"
              [src]="film.trailer | safe" frameborder="0" allowfullscreen>
      </iframe>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>
<div class="row" style="margin-bottom: 150px">
  <div class="col-md-5"></div>
  <div class="col-md-2">
  </div>

</div>


<app-comment [user]="user" *ngIf="authService.isAuthenticated()"></app-comment>
