<h1 style="color: white;margin-left: 20px">My Watchlist</h1>
<div class="row" >
  <div class="col-md-2" *ngFor="let film of watchlist" style="margin-left: 20px; margin-top: 10px;">
    <div class="card" style="width: 18rem; display: grid; margin-left: 40px">
      <img class="card-img-top" src="{{film.poster_path}}" alt="Card image cap">
      <h5 class="card-title text-center" style="color: white">{{film.title}}</h5>
      <a [routerLink]="['/film', film.film_id]" class="btn btn-primary">Go to film</a>
    </div>
  </div>
</div>
